@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />

    <h4 class="fs30">Seja bem vindo Motorista de Aplicativo</h4>
    <p>Desenvolvido para você motorsta que quer ter controle sobre sua vida</p>
</div>


<div class="section-area content-inner service-info-bx">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="service-bx">
                    <div class="action-box">
                        <img src="assets/images/our-services/pic4.jpg" alt="">
                    </div>
                    <div class="info-bx text-center">
                        <div class="feature-box-sm radius bg-white">
                            <i class="fa fa-bank text-primary"></i>
                        </div>
                        <h4></h4>
                        <a class="btn radius-xl" asp-area="" asp-controller="Pedido" asp-action="BuscaProdutos">Simulados</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="service-bx">
                    <div class="action-box">
                        <img src="assets/images/our-services/pic7.jpg" alt="">
                    </div>
                    <div class="info-bx text-center">
                        <div class="feature-box-sm radius bg-white">
                            <i class="fa fa-book text-primary"></i>
                        </div>
                        <h4></h4>
                        <a class="btn radius-xl" asp-area="" asp-controller="Home" asp-action="Cursos">Cursos</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="service-bx m-b0">
                    <div class="action-box">
                        <img src="assets/images/our-services/pic6.jpg" alt="">
                    </div>
                    <div class="info-bx text-center">
                        <div class="feature-box-sm radius bg-white">
                            <i class="fa fa-file-text-o text-primary"></i>
                        </div>
                        <h4></h4>
                        <a class="btn radius-xl" asp-area="" asp-controller="Home" asp-action="Formacao">Formação</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


