@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>App criado para você motorista que busca um controle sobre suas corridas!</p>
</div>
